@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  /* === Warna Status === */
  --color-success: #00a37a;
  --color-success-light: #e6f4f1;
  --color-pending: #f5d46b;
  --color-pending-light: #fff9e6;
  --color-error: #e57373;
  --color-error-light: #fdecec;
  --color-info: #6bb5f5;
  --color-info-light: #e6f3ff;
  --color-review: #f1a85b;
  --color-inactive: #c7d7ca;
}

/* Hilangkan spinner di Chrome, Safari, Edge, dan Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

/* Hilangkan spinner di Firefox */
input[type='number'] {
  -moz-appearance: textfield !important;
  appearance: textfield !important;
}
